/* ******************* < 375px *********************** */
@media all and (max-width: 374px) {
  .surface__features {
    padding: 0 10px 0;
  }

  .surface__features li {
    padding: 0;
  }

  .settings__programms-icons {
    width: 100%;
    min-width: 320px;
  }

  .carousel-indicators {
    width: 70%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 10%;
  }
}

/* ******************* > 664px *********************** */

@media all and (min-width: 664px) {
  .comfort__image {
    background-image: url(./img/img-04-lifestyle-2-big.jpg);
    height: 61.5vw;
  }

  .speed__image {
    background-image: url(./img/img-05-top-big.jpg);
    height: 61.5vw;
  }
}

/* ******************* > 768px *********************** */

@media all and (min-width: 768px) {
  header {
    padding: 54px 0 0;
  }

  header img {
    width: 240px;
  }

  .top {
    background-color: var(--bg-gray);
    padding: 159px 0 80px;
  }

  .top__image {
    background-image: url(./img/img-01-mx-master-big.png);
    background-size: contain;
    width: 100%;
    height: 514px;
  }

  .top__image h2 {
    margin: 0 0 591px;
  }

  .top p {
    margin: 124px 59px 76px;
    max-width: 585px;
  }

  .bluetooth {
    padding: 80px 0 6px;
  }

  .bluetooth img {
    height: 40px;
  }

  .bluetooth h2 {
    padding: 39px 0 30px;
  }

  .bluetooth p {
    padding: 0 34px 76px;
    max-width: 740px;
  }

  .big-text {
    font-size: 150px;
    line-height: 176px;
  }

  .bluetooth__image {
    background: url(./img/img-02-left-graphite-big.png) no-repeat 39px;
    background-size: contain;
    height: 498px;
  }

  .surface__text {
    padding: 30px 77px 50px;
  }

  .surface__features {
    margin: 0 0 50px;
    gap: 30px;
  }

  .surface__features li {
    padding: 17px 32px 24px;
    max-width: 300px;
  }

  .surface .subtitle {
    font-size: 24px;
    line-height: 28px;
    padding: 50px 0 85px;
  }

  .carousel-indicators {
    bottom: -169px;
    width: 320px;
  }

  .carousel-indicators [data-bs-target] {
    width: 40px;
    height: 40px;
  }

  .carousel-indicators [data-bs-target] img {
    width: 40px;
    height: 40px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    bottom: -134px;
    width: calc(50% - 185px);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 14px;
    height: 26px;
  }

  .usability p {
    padding: 30px 65px 70px;
  }

  .howto {
    display: flex;
    list-style-position: inside;
    padding: 0 25px;
  }

  .howto li {
    font-size: 20px;
    line-height: 23px;
    padding: 8px 21px 4px 28px;
    width: auto;
    border-left: 1px solid #494949;
  }

  .howto li:first-child {
    padding-left: 0;
    border-left: none;
  }

  .howto li:last-child {
    padding-right: 0;
    padding-left: 22px;
  }

  .settings__text {
    padding: 30px 60px 54px;
  }

  .settings__carousel .carousel-indicators {
    width: 275px;
  }

  .settings__carousel .carousel-indicators [data-bs-target] {
    width: 25px;
    height: 25px;
  }

  .settings__programms {
    margin-top: 70px;
  }

  .settings__programms-icons {
    padding: 38px 0 0;
    width: 512px;
    box-sizing: content-box;
  }

  .settings__programms-icons li img {
    height: 35px;
    width: auto;
  }

  .settings__programms-text {
    margin: 0;
    color: var(--white);
    padding: 25px 34px 29px;
    font-size: 20px;
    line-height: 23px;
  }

  .advantages__text {
    padding: 30px 70px 50px;
    max-width: 739px;
  }

  footer p {
    font-size: 14px;
    line-height: 16px;
  }
}

/* ******************* > 894px *********************** */

@media all and (min-width: 894px) {
  .settings__programms {
    margin-bottom: 70px;
    max-width: 765px;
  }

  .settings__programms-icons {
    width: 512px;
    box-sizing: content-box;
  }
}

/* ******************* > 1280px *********************** */

@media all and (min-width: 1280px) {
  header {
    justify-content: flex-start;
    background-color: var(--graphite);
    padding: 28px 0 27px 61px;
  }

  header img {
    width: 150px;
  }

  .top {
    padding: 70px 0 56px;
  }

  .top__image {
    background-image: url(./img/img-01-mx-master-extra.png);
  }

  .top p {
    margin: 8px 59px 49px;
    max-width: none;
  }

  .top img {
    height: 29px;
  }

  .bluetooth {
    padding: 45px 0 48px;
  }

  .bluetooth h2 {
    padding: 40px 0 35px;
  }

  .bluetooth p {
    max-width: 761px;
    padding: 0 34px 15px;
  }

  .big-text {
    display: flex;
    align-items: flex-start;
    margin: 0 0 0 80px;
  }

  .bluetooth__image {
    height: 307px;
    width: 100vw;
    margin-top: -232px;
    background: url(./img/img-02-front-graphite-extra.png) no-repeat 17px 0,
      url(./img/img-02-left-graphite-extra.png) no-repeat 597px 0;
  }

  .big-text .big-text__number {
    font-size: 300px;
    line-height: 352px;
  }

  .big-text__days {
    font-size: 96px;
    line-height: 112px;
    padding-top: 44px;
  }

  .surface {
    padding: 70px 0;
  }

  .surface__text {
    padding: 35px 340px 50px;
  }

  .surface__features {
    gap: 32px;
  }

  .surface__features li {
    padding: 0;
    width: 236px;
    height: 140px;
  }

  .surface .subtitle {
    font-size: 20px;
    line-height: 23px;
  }

  .surface__text-bottom {
    padding: 0 258px;
  }

  .usability {
    background-image: url(./img/img-03-lifestyle-1-extra.png);
  }

  .usability p {
    padding: 35px 161px 66px;
  }

  .howto {
    padding: 0 230px;
  }

  .settings__text {
    padding: 38px 231px 54px;
  }

  #settings__slider {
    display: none;
  }

  .settings__image {
    display: block;
    height: 640px;
    width: 100vh;
    background-image: url(./img/mouse-features.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .settings__programms {
    margin-top: 0;
    max-width: 749px;
  }

  .comfort {
    display: flex;
    flex-direction: row-reverse;
  }

  .comfort__image {
    background-image: url(./img/img-04-lifestyle-2-extra.png);
    background-size: cover;
    width: 50%;
    max-height: 557px;
  }

  .comfort-content {
    width: 50%;
  }

  .comfort .advantages__title {
    text-align: left;
    width: 281px;
    padding-left: 36px;
    box-sizing: content-box;
  }

  .comfort .advantages__text {
    padding-left: 36px;
    text-align: left;
    max-width: 420px;
    box-sizing: content-box;
  }

  .speed {
    display: flex;
    flex-direction: row;
  }

  .speed {
    display: flex;
    flex-direction: row;
  }

  .speed-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
  }

  .speed-content .advantages__title {
    padding-right: 36px;
    text-align: right;
  }

  .speed-content .advantages__text {
    padding-right: 36px;
    text-align: right;
    max-width: 350px;
    box-sizing: content-box;
  }

  .speed__image {
    background-image: url(./img/img-05-top-extra.png);
    width: 50%;
    background-size: cover;
    max-height: 557px;
  }
}

/* ******************* > 1300px *********************** */

@media all and (min-width: 1300px) {
  .top {
    padding: 100px 0 80px;
  }

  .bluetooth {
    padding: 80px 0 69px;
  }

  .surface {
    padding: 100px 0;
  }

  .surface__slider {
    max-width: 1280px;
  }

  .usability {
    padding-top: 100px;
  }

  .settings {
    padding-top: 100px;
  }

  .settings__programms {
    margin-bottom: 100px;
  }

  .advantages {
    padding: 100px 0;
  }
}
