/* ******************* < 649px *********************** */

.navbar {
  background-color: var(--bg-gray);
}

.container-fluid {
  padding-top: 25px;
}

.container-fluid.show {
  background-color: var(--graphite);
}

.logo-container {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-left: 63px;
}

.logo-global img,
.logo-mobile {
  width: 130px;
  height: auto;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.navbar-collapse {
  height: 100vh;
  z-index: 100;
}

.no-transition {
  transition: height 0s;
}

.navbar-toggler .menu-icon-close,
.navbar-toggler.collapsed .menu-icon-burger,
.container-fluid.show .logo-mobile,
.container-fluid .logo-global {
  display: block;
}

.navbar-toggler .menu-icon-burger,
.navbar-toggler.collapsed .menu-icon-close,
.container-fluid .logo-mobile,
.container-fluid.show .logo-global {
  display: none;
}

.menu-icon-burger,
.menu-icon-close {
  width: 30px;
  height: auto;
}

.navbar-toggler {
  border: none;
  padding: 0;
  margin: -1px 17px 0 0;
}

button.navbar-toggler:focus:not(:focus-visible) {
  box-shadow: none;
}

.navbar > .container-fluid {
  align-items: flex-start;
}

.navbar-nav {
  align-items: center;
  padding: 148px 0 0;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--dark-gray);
  text-transform: uppercase;
  margin: 16px 0;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--white);
  border-bottom: 2px solid var(--white);
  padding: 0 0 6px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--dark-gray);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link:hover {
  color: var(--white);
}

/* ******************* > 650px *********************** */

@media all and (min-width: 650px) {
  .container-fluid {
    padding: 54px 38px 0;
  }

  .logo-global img,
  .logo-mobile {
    width: 240px;
  }

  .menu-icon-burger,
  .menu-icon-close {
    width: 60px;
  }

  .navbar-nav {
    padding: 123px 0 0;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 40px;
    line-height: 47px;
    margin: 30px 0;
  }
}

/* ******************* > 730px *********************** */

@media all and (min-width: 730px) {
  .container-fluid {
    padding: 54px 58px 0;
  }
}

/* ******************* > 992px *********************** */

@media all and (min-width: 992px) {
  .container-fluid {
    padding: 25px 62px 0;
    background-color: var(--graphite);
  }

  .navbar-collapse {
    height: 100px;
    z-index: none;
  }

  .logo-container {
    padding-left: 0;
    flex: none;
  }

  .logo-global img,
  .logo-mobile {
    width: 120px;
  }

  .navbar > .container-fluid {
    align-items: center;
  }

  .navbar-nav {
    padding: 0;
    align-items: flex-start;
  }

  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }

  .link {
    padding: 0 15px;
    height: 30px;
    border-left: 1px solid #494949;
  }

  .link:first-child {
    padding: 0 15px 0 0;
    border-left: none;
  }

  .link:last-child {
    padding: 0 0 0 15px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    margin: 8px 0;
  }

  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show > .nav-link {
    border-bottom: 1px solid var(--white);
  }
}

/* ******************* > 1200px *********************** */

@media all and (min-width: 1200px) {
  .navbar {
    background-color: var(--graphite);
  }

  .container-fluid {
    max-width: 1280px;
  }

  .logo-global img,
  .logo-mobile {
    width: 150px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 12px;
  }

  .link {
    padding: 0 22px;
  }

  .link:first-child {
    padding: 0 22px 0 0;
  }

  .link:last-child {
    padding: 0 0 0 22px;
  }
}
