.container-fluid {
  padding-top: 25px;
}

.container-fluid.show {
  background-color: var(--graphite);
}

.logo-container {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-left: 54px; /* like the menu/close button width */
}

.logo-global img,
.logo-mobile {
  width: 130px;
  height: auto;
}

.navbar {
  padding: 0;
}

.navbar-collapse {
  height: 100vh;
  z-index: 100;
}

.no-transition {
  transition: height 0s;
}

.navbar-toggler .menu-icon-close,
.navbar-toggler.collapsed .menu-icon-burger,
.container-fluid.show .logo-mobile,
.container-fluid .logo-global {
  display: block;
}

.navbar-toggler .menu-icon-burger,
.navbar-toggler.collapsed .menu-icon-close,
.container-fluid .logo-mobile,
.container-fluid.show .logo-global {
  display: none;
}

.menu-icon-burger,
.menu-icon-close {
  width: 30px;
  height: auto;
}

.navbar-toggler {
  border: none;
}

button.navbar-toggler:focus:not(:focus-visible) {
  box-shadow: none;
}
