header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--gray-top);
  padding: 25px 0 0;
}

.top {
  background-color: var(--gray-top);
  padding: 94px 0 48px;
}

.top__image {
  background-image: url(./img/img-01-mx-master.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 230px;
}

.top__image h2 {
  margin: 0 0 274px;
}

.top p {
  margin: 67px 59px 48px;
}

.bluetooth {
  background-color: var(--gray-pale);
  background-image: url(./img/img-02-left-graphite.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 42px 0 236px;
}

.bluetooth h2 {
  padding: 27px 0 20px;
}

.bluetooth p {
  padding: 0 34px 31px;
}

.big-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: var(--gray);
}

.surface {
  padding: 70px 0 63px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.surface__text {
  padding: 20px 64px 30px;
  margin: 0;
}

.surface__features {
  padding: 0 18px 0;
  margin: 0 0 28px;
  list-style-type: none;
  display: flex;
  gap: 6px;
}

.surface__features li {
  /* width: 50%; */
  width: 165px;
  min-height: 94px;
  padding: 9px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #2f3132;
}

.surface__features-text {
  margin: 5px 0 0;
}

.surface .subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--gray-dark);
  padding: 28px 0 70px;
}

.surface__text-bottom {
  padding: 0 34px;
  margin: 0;
}

.usability {
  background-color: var(--gray-pale);
  background-image: url(./img/img-03-lifestyle-1.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 70px 0 218px;
}

.usability p {
  padding: 20px 34px 36px;
}

.howto {
  margin: 0;
  padding: 0 54px 0;
}

.howto li {
  padding: 0 0 16px;
}

.howto li:last-child {
  padding: 0;
}

.usability__howto-text {
  text-align: left;
}

.settings {
  background-color: var(--gray-pale);
  padding-top: 70px;
}

.settings__text {
  padding: 20px 34px 35px;
}

.settings__carousel {
  padding: 0 23px 0;
  margin: 0 0 60px;
}

.settings__programms {
  background-color: var(--gray);
}

.settings__programms-icons {
  list-style-type: none;
  padding: 23px 25px 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings__programms-text {
  margin: 0;
  color: var(--white);
  padding: 20px 34px 26px;
}

.comfort {
  background-image: url(./img/img-04-lifestyle-2.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 310px;
}

.speed {
  background-image: url(./img/img-05-top.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 310px;
}

.advantages__title {
  padding: 70px 0 0;
}

.advantages__text {
  padding: 20px 34px;
  margin: 0;
}

footer {
  background-color: var(--gray-dark);
  height: 75px;
}

footer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #c7c8c8;
  margin: 0;
  padding-top: 22px;
}
