header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-gray);
  padding: 25px 0 0;
}

header img {
  width: 130px;
}

.top {
  background-color: var(--bg-gray);
  padding: 94px 0 48px;
}

.top__image {
  background-image: url(./img/img-01-mx-master.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 230px;
}

.top__image h2 {
  margin: 0 0 274px;
}

.top p {
  margin: 67px 59px 48px;
  max-width: 257px;
}

.bluetooth {
  background-color: var(--light-gray);
  padding: 42px 0 18px;
}

.bluetooth img {
  height: 34px;
}

.bluetooth h2 {
  padding: 27px 0 20px;
}

.bluetooth p {
  padding: 0 34px 31px;
  max-width: 307px;
  margin: 0;
}

.big-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-gray);
}

.bluetooth__image {
  height: 218px;
  width: 100vw;
  background-image: url(./img/img-02-left-graphite.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.surface {
  padding: 70px 0 63px;
}

.surface__text {
  padding: 20px 64px 30px;
  margin: 0;
}

.surface__features {
  padding: 0 18px 0;
  margin: 0 0 28px;
  list-style-type: none;
  display: flex;
  gap: 6px;
}

.surface__features li {
  width: 50%;
  min-height: 94px;
  padding: 9px 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #2f3132;
}

.surface__features-text {
  margin: 5px 0 0;
}

.surface__slider {
  width: 100%;
}

.carousel-indicators {
  bottom: -122px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  width: 265px;
}

.carousel-indicators [data-bs-target] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
}

.carousel-indicators [data-bs-target] img {
  display: block;
  width: 30px;
  height: 30px;
}

.carousel-control-next,
.carousel-control-prev {
  align-items: flex-end;
  bottom: -92px;
  opacity: 1;
  width: calc(50% - 155px);
}

.carousel-control-prev {
  justify-content: flex-end;
}

.carousel-control-next {
  justify-content: flex-start;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 13px;
  height: 22px;
}

.carousel-control-prev-icon {
  background-image: url(./img/icon-arrow-left.svg);
}

.carousel-control-next-icon {
  background-image: url(./img/icon-arrow-right.svg);
}

.surface .subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: var(--graphite);
  padding: 28px 0 70px;
  margin: 0;
}

.surface__text-bottom {
  padding: 0 34px;
  margin: 0;
}

.usability {
  background-color: var(--light-gray);
  background-image: url(./img/img-03-lifestyle-1-big.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 50vw;
}

.usability p {
  padding: 20px 34px 36px;
}

.howto {
  margin: 0;
  padding: 0 54px 0;
}

.howto li {
  padding: 0 0 16px;
}

.howto li:last-child {
  padding: 0;
}

.usability__howto-text {
  text-align: left;
}

.settings {
  background-color: var(--light-gray);
  padding-top: 70px;
}

.settings__text {
  padding: 20px 34px 35px;
  margin: 0;
}

.settings__carousel {
  margin: 0 0 20px;
}

.settings__carousel .carousel-item img {
  height: 106vw;
}

.settings__carousel .carousel-indicators {
  bottom: -65px;
  width: 165px;
}

.settings__carousel .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  background-color: var(--dark-gray);
}

.settings__carousel .carousel-indicators .active {
  background-color: var(--graphite);
}

.settings__image {
  display: none;
}

.settings__programms {
  background-color: var(--dark-gray);
  width: 100vw;
  margin-top: 60px;
}

.settings__programms-icons {
  list-style-type: none;
  padding: 23px 25px 0;
  margin: 0;
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings__programms-text {
  margin: 0;
  color: var(--white);
  padding: 20px 34px 26px;
}

.advantages {
  margin: auto;
}

.comfort__image {
  background-image: url(./img/img-04-lifestyle-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 83vw;
}

.speed__image {
  background-image: url(./img/img-05-top.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 83vw;
}

.advantages__title {
  padding-top: 70px;
}

.advantages__text {
  padding: 20px 34px;
  margin: 0;
}

footer {
  background-color: var(--graphite);
  height: 75px;
}

footer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #c7c8c8;
  margin: 0;
  padding-top: 22px;
}
