/* ******************* 320-649px *********************** */

.usability {
  background-color: var(--light-gray);
  background-image: url("./img/img-03-lifestyle-1-big.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 50vw;
}

.usability p {
  margin-bottom: 0;
}

.usability__p-1 {
  padding: 20px 34px 15px;
}

.usability__p-2 {
  padding: 0 34px 25px;
}

.howto {
  margin: 0;
  padding: 0 54px 0;
}

.howto li {
  padding: 0 0 16px;
}

.howto li:last-child {
  padding: 0;
}

.usability__howto-text {
  text-align: left;
}

/* ******************* 650-991px *********************** */

@media all and (min-width: 650px) {
  .usability .title {
    padding: 0 65px;
  }

  .usability__p-1 {
    padding: 45px 65px 25px;
  }

  .usability__p-2 {
    padding: 0 65px 35px;
  }

  .howto {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    padding: 0 25px;
  }

  .howto li {
    font-size: 20px;
    line-height: 23px;
    padding: 8px 21px 4px 28px;
    width: auto;
  }

  .howto li:last-child {
    padding: 8px 21px 4px 28px;
  }
}

/* ******************* 992-1280px *********************** */

@media all and (min-width: 992px) {
  .usability {
    background-image: url("./img/img-03-lifestyle-1-extra.png");
  }

  .usability__p-1 {
    padding: 35px 161px 30px;
  }

  .usability__p-2 {
    padding: 0 161px 35px;
  }

  .howto {
    padding: 0 110px;
    margin-bottom: -20px;
  }
}

/* ******************* > 1280px *********************** */

@media all and (min-width: 1281px) {
  .usability {
    padding-top: 100px;
  }
}
