footer {
  background-color: var(--graphite);
  height: 75px;
}

footer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #c7c8c8;
  margin: 0;
  padding-top: 22px;
}

/* ******************* > 650px *********************** */

@media all and (min-width: 650px) {
  footer p {
    font-size: 14px;
    line-height: 16px;
  }
}
